.show, .offcanvas-toggling {
    background-color: rgba(131,152,170,100%) !important;
    backdrop-filter: blur(8px) !important;
}

.active-scroll-spy {
    
}

.hobby-card {
    background: var(--bs-body-bg);
    overflow: hidden;
    border-radius: 16px;
    margin: 16px;
    padding: 8px;
    flex-grow: 1;
    min-width: 256px;
    flex-basis: 20%;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.383);
}
/*
.hobby-card:nth-child(1) {
    border: 4px solid hsl(0, 70%, 60%);
}

.hobby-card:nth-child(2) {
    border: 4px solid hsl(64, 70%, 60%);
}

.hobby-card:nth-child(3) {
    border: 4px solid hsl(128, 70%, 60%);
}

.hobby-card:nth-child(4) {
    border: 4px solid hsl(192, 70%, 60%);
}*/

.hobby-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    align-items:stretch;
    justify-items: stretch;
}

.hobby-header {
    font-size: 36px;
    transform: rotate(0deg);
    text-align: center;
}

.hobby-content {
    padding: 6px;
}